#pragma once

{% for ns in namespaces %}
namespace {{ns}} {
{% endfor %}

enum class {{enumName}} : int {
    {% for item in enumItems %}
    {{item}},
    {% endfor %}
    Count
};
extern char const* g{{enumName}}Strings[];
char const* {{enumName}}ToString({{enumName}} e);
{{enumName}} StringTo{{enumName}}(char const* s);

{% for ns in namespaces %}
}
{% endfor %}