#pragma once

{% for ns in namespaces %}
namespace {{ns}} {
{% endfor %}

enum class {{enumName}} : int {
    {% for item in enumItems %}
    {{item}},
    {% endfor %}
    Count
};
extern char const* g{{enumName}}Strings[];
char const* {{enumName}}ToString({{enumName}} e);
{{enumName}} StringTo{{enumName}}(char const* s);
char const* EnumToString({{enumName}} e);
void StringToEnum(char const* s, {{enumName}}& e);

bool {{enumName}}ImGui(char const* label, {{enumName}}* v);

{% for ns in namespaces %}
}
{% endfor %}