#pragma once

#include "cereal/cereal.hpp"
#include "cereal/types/string.hpp"

#include "{{headerFilename}}"

{% for ns in namespaces %}
namespace {{ns}} {
{% endfor %}

template<typename Archive>
std::string save_minimal(Archive const& ar, {{enumName}} const& e) {
	return std::string({{enumName}}ToString(e));
}

template<typename Archive>
void load_minimal(Archive const& ar, {{enumName}}& e, std::string const& v) {
	e = StringTo{{enumName}}(v.c_str());
}

{% for ns in namespaces %}
}
{% endfor %}
