#pragma once

#include "serial.h"

{% for header in header_includes %}
#include {{header}}
{% endfor %}

struct {{propertiesName}}Props {
    {% for prop in props %}
    {{prop.type}} _{{prop.name}};
    {% endfor %}

    void Load(serial::Ptree pt);
    void Save(serial::Ptree pt) const;
    bool ImGui();
};