#include "{{headerFilename}}"

#include "imgui/imgui.h"

#include "imgui_util.h"

{% for header in src_includes %}
#include {{header}}
{% endfor %}

void {{propertiesName}}Props::Load(serial::Ptree pt) {
   {% for prop in props %}
   {{prop.load}}
   {% endfor %}
}

void {{propertiesName}}Props::Save(serial::Ptree pt) const {
    {% for prop in props %}
    {{prop.save}}
    {% endfor %}
}

bool {{propertiesName}}Props::ImGui() {
    bool changed = false;
    {% for prop in props %}
    {
        bool thisChanged = {{prop.imgui}}
        changed = changed || thisChanged;
    }
    {% endfor %}
    return changed;
}