#pragma once

{% for header in header_includes %}
#include {{header}}
{% endfor %}

#include "serial.h"

struct {{propertiesName}}Props {
    {% for prop in props %}
    {{prop.type}} _{{prop.name}}{% if prop.default %} = {{prop.default}}{%- endif %};
    {% endfor %}

    void Load(serial::Ptree pt);
    void Save(serial::Ptree pt) const;
    bool ImGui();
};