#include "{{headerFilename}}"

#include "imgui/imgui.h"

#include "imgui_util.h"

// TODO HEADERS

void {{propertiesName}}Props::Load(serial::Ptree pt) {
   {% for prop in props %}
   {{prop.load}}
   {% endfor %}
}

void {{propertiesName}}Props::Save(serial::Ptree pt) const {
    {% for prop in props %}
    {{prop.save}}
    {% endfor %}
}

bool {{propertiesName}}Props::ImGui() {
    bool overallNeedsInit = false;
    bool thisNeedsInit = false;
    {% for prop in props %}
    thisNeedsInit = {{prop.imgui}}
    overallNeedsInit = thisNeedsInit || overallNeedsInit;
    {% endfor %}
    return overallNeedsInit;
}