game
game.out
game.out.dSYM
game-dbg
a.out
notes.txt
fmod_core
fmod_test.cpp
.vscode
.DS_Store
intermediates
intermediates-dbg
imgui.ini
a.out.dSYM
mat_timing_test.cpp
matrix_separated.h
matrix_separated.cpp
tmp/
py_env/
__pycache__/